body {
  font-family: "Spartan", sans-serif;
  background-color: #e7f7f1;
  box-sizing: border-box;
}

nav {
  text-decoration: none;
}

ol {
  margin: 1em;
  padding: 0;
}

.table_headers {
  font-weight: bold;
}

.bookshop_data {
  border: 1px solid black;
}

